# Create Edge and Node List for Sargon Letters SNA
This notebook creates an edge list and a node list for import into [Gephi](https://gephi.org/). The data are taken from the Sargon letters published online in [SAAo](http://oracc.org/saao), but the code can be used for other data sets as well.

In [1]:
import pandas as pd
import zipfile
import json
import os
import sys
util_dir = os.path.abspath('../utils')
sys.path.append(util_dir)
from utils import *
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
volumes = "saao/saa01,saao/saa05,saao/saa15"
words = get_data(volumes)

Downloading JSON
Saving http://oracc.org/saao/saa05/json/saao-saa05.zip as jsonzip/saao-saa05.zip.

HBox(children=(FloatProgress(value=1.0, bar_style='info', description='saao/saa05', max=1.0, style=ProgressSty…

Saving http://oracc.org/saao/saa15/json/saao-saa15.zip as jsonzip/saao-saa15.zip.

HBox(children=(FloatProgress(value=1.0, bar_style='info', description='saao/saa15', max=1.0, style=ProgressSty…

Saving http://oracc.org/saao/saa01/json/saao-saa01.zip as jsonzip/saao-saa01.zip.

HBox(children=(FloatProgress(value=1.0, bar_style='info', description='saao/saa01', max=1.0, style=ProgressSty…

Parsing JSON

HBox(children=(FloatProgress(value=0.0, description='saao/saa05', max=300.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='saao/saa15', max=390.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='saao/saa01', max=265.0, style=ProgressStyle(description_w…

In [3]:
directories = ['raw']
make_dirs(directories)
words.to_csv('raw/sargonletters.csv', index=False, encoding='utf8')

The `JSON` of saao/sargonletters has been parsed and transformed into a `csv` file called `sargonletters.csv`. This file has been moved to the directory `raw`. The current notebook will extract the information necessary for an edge list that can be imported in [Gephi](https://gephi.org/). In addition, the code will create a node list with one attribute (`eponym`, either `True` or `False`). For importing these files into [Gephi](https://gephi.org/), see the bottom of this file.

The first step is to select all proper names that appear in the letters. Two proper names that appear in the same letter represent an (undirected) edge. In a second step, this list of edges is augmented with catalog information such as sender location and dossier. In a third step the catalog is used to create additional (directed) edges, representing sender and recipient.

# 1 Creat Edge List from Proper Names in Letters

First open the `.csv` file (prepared by parsing the corpus JSON files) and import it into a Pandas Dataframe.

In [4]:
with open("raw/sargonletters.csv", mode = 'r', encoding = "utf8") as f:
    df = pd.read_csv(f)
df

,lang,form,delim,gdl,pos,id_word,label,id_text,cf,gw,sense,norm,epos,extent,scope,state,id_line
0,akk-x-neoass,x,NaN,"[{'v': 'x', 'utf8': 'x', 'id': 'P313858.3.1.0'...",u,P313858.3.1,o 1',saao/saa05/P313858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,akk-x-neoass,x,NaN,"[{'v': 'x', 'utf8': 'x', 'id': 'P313858.3.2.0'...",u,P313858.3.2,o 1',saao/saa05/P313858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,akk-x-neoass,x,NaN,"[{'v': 'x', 'utf8': 'x', 'id': 'P313858.3.3.0'...",u,P313858.3.3,o 1',saao/saa05/P313858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,akk-x-neoass,x,NaN,"[{'v': 'x', 'utf8': 'x', 'id': 'P313858.3.4.0'...",u,P313858.3.4,o 1',saao/saa05/P313858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,akk-x-neoass,x,NaN,"[{'v': 'x', 'utf8': 'x', 'id': 'P313858.3.5.0'...",u,P313858.3.5,o 1',saao/saa05/P313858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87575,akk-x-neoass,x,NaN,"[{'v': 'x', 'utf8': 'x', 'id': 'P334715.38.5.0...",u,P334715.38.5,r 13,saao/saa01/P334715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38
87576,akk-x-neoass,x,NaN,"[{'v': 'x', 'utf8': 'x', 'id': 'P334715.38.6.0...",u,P334715.38.6,r 13,saao/saa01/P334715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38
87577,akk-x-neoass,x,NaN,"[{'v': 'x', 'utf8': 'x', 'id': 'P334715.38.7.0...",u,P334715.38.7,r 13,saao/saa01/P334715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38
87578,akk-x-neoass,x,NaN,"[{'v': 'x', 'utf8': 'x', 'id': 'P334715.38.8.0...",u,P334715.38.8,r 13,saao/saa01/P334715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38
87579,akk-x-neoass,x,NaN,"[{'v': 'x', 'utf8': 'x', 'id': 'P334715.38.9.0...",u,P334715.38.9,r 13,saao/saa01/P334715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38

Select the rows where `pos` is either `PN` (Personal Name) or `RN` (Royal Name).

In [5]:
keep = ["PN", "RN"]
df = df[df["pos"].isin(keep)]

Select the columns `id_text` (the P number), and `cf` (Citation Form) and clean up the `id_text` column (keep only the P number).

In [6]:
df = df[["id_text", "cf"]]
df["id_text"] = [idt[-7:] for idt in df["id_text"]]
df

       id_text                cf
167    P313453         Naʾdi-ilu
232    P334887      Nabu-hamatua
234    P334887           Kuškaya
247    P334887  Aššur-šarru-uṣur
272    P334150       Nabu-uṣalla
...        ...               ...
87305  P334284             Amiru
87316  P334284             Ašapi
87354  P313762    Nabu-šumu-uṣur
87424  P334715         Bel-liqbi
87532  P334715       Aššur-dalal

[1370 rows x 2 columns]

Transform the Pandas Dataframe into a simple list of list. In order to produce the edge list we use a loop within a loop. The first loop goes through all the items in the list (all names). For each name, it goes through the entire list again, to find items that match the same text ID (P number). This way, the routine finds all pairs of names that appear in each letter.

The secondary loop begins at the location of the index of the primary loop. This way, the edge A == B is not duplicated by the edge B == A (since the edges are undirected).

If there is a text ID match in the secondary loop, make a list that contains `id_text`, `source`, and `target` - this list represents a single edge. Add this list to the list of lists `edges`.

In [7]:
data = df.values.tolist()
edges = []
for idx, item in enumerate(data):
    textid = item[0]
    source = item[1]
    for idx_2, item_2 in enumerate(data[idx:len(data)]):
        if item[0] == item_2[0]:
            if not item[1] == item_2[1]:
                target = item_2[1]
                edge = [textid, source, target]
                edges.append(edge)

The object `edges` is a list of list that can be transformed again into a Dataframe.

In [8]:
df_edges = pd.DataFrame(edges, columns= ["id_text", "source", "target"])
df_edges

      id_text            source            target
0     P334887      Nabu-hamatua           Kuškaya
1     P334887      Nabu-hamatua  Aššur-šarru-uṣur
2     P334887           Kuškaya  Aššur-šarru-uṣur
3     P334150       Nabu-uṣalla         Mar-Issar
4     P334674  Šulmu-beli-lašme     Mannu-ki-ahhe
...       ...               ...               ...
1706  P334284         Adda-hati             Ašapi
1707  P334284         Ammi-leti             Amiru
1708  P334284         Ammi-leti             Ašapi
1709  P334284             Amiru             Ašapi
1710  P334715         Bel-liqbi       Aššur-dalal

[1711 rows x 3 columns]

If the same name is mentioned multiple times in the same letter, that will create duplicate edges. Drop the duplicates.

Add a new field, called `Type` to indicate whether an edge is directed or undirected. So far, all the edges are undirected.

In [9]:
df_edges = df_edges.drop_duplicates().reset_index(drop=True)
df_edges["Type"] = "undirected" 
df_edges

      id_text            source            target        Type
0     P334887      Nabu-hamatua           Kuškaya  undirected
1     P334887      Nabu-hamatua  Aššur-šarru-uṣur  undirected
2     P334887           Kuškaya  Aššur-šarru-uṣur  undirected
3     P334150       Nabu-uṣalla         Mar-Issar  undirected
4     P334674  Šulmu-beli-lašme     Mannu-ki-ahhe  undirected
...       ...               ...               ...         ...
1264  P334284         Adda-hati             Ašapi  undirected
1265  P334284         Ammi-leti             Amiru  undirected
1266  P334284         Ammi-leti             Ašapi  undirected
1267  P334284             Amiru             Ašapi  undirected
1268  P334715         Bel-liqbi       Aššur-dalal  undirected

[1269 rows x 4 columns]

# 2. Add Catalog Information to the Edge List
The file `catalogue.json`, which is available in the file `jsonzip/saao-sargonletters.zip`, contains more information about each letter. The main field in `catalogue.json` is called `members` which contains the catalog information for each text in this corpus. We select a number of relevant catalog fields. We can add this information to the edge list by merging the two dataframes on `id_text` (the P number).

Instead of extracting all the files from the `ZIP` file we can create a `ZipFile` object and then read only the file we need (namely `catalogue.json`). This is transformed into a `JSON` object which can be further manipulated and transformed into a Dataframe.

In [10]:
df_cat = pd.DataFrame()
for p in volumes.split(','):
    file = f"{p.replace('/', '-')}.zip"
    z = zipfile.ZipFile(f'jsonzip/{file}', 'r')
    data = z.read(f"{p}/catalogue.json").decode("utf-8")
    data = json.loads(data)
    d = data['members']
    df = pd.DataFrame(d).T
    df = df[["id_text", "ancient_author"]].fillna('')
    df_cat = pd.concat([df_cat, df], sort=True)  # sort=True is necessary in case catalogs have a different set of fields
df_cat

           ancient_author  id_text
P224395         Adda-hati  P224395
P224403         Sargon II  P224403
P224417         Adda-hati  P224417
P224431          Bel-duri  P224431
P224433       Sennacherib  P224433
...                   ...      ...
P336775                    P336775
P336776                    P336776
P428978  Nabu-belu-ka’’in  P428978
X150289      Aššur-reṣiwa  X150289
X150335                    X150335

[956 rows x 2 columns]

The names of author and recipient in the catalog are sometimes slightly different from the name forms in the lemmatization. The code in the following cell replaces the catalog form by the lemmatization form. The `.replace()` method in Pandas will search and replace a full string. In order to perform the search/replace on a partial string the option `regex = True` is necessary. Therefore, characters that have a special function in regular expressions (such as `[` and `(`) must be escaped by preceding them with a backslash.

The search - replace pairs are listed in a dictionary that can be fed to the Pandas `.replace()` method.

In [11]:
search_replace = {"Ṭab-ṣill-Ešarra": "Ṭab-ṣil-Ešarra",
                  "’": "ʾ",
                  "\[": "",
                  "\]": "",
                  "Nashir-Bel \(Liphur-Bel\)": "Nashir-Bel",
                 "Sennacherib": "Sin-ahhe-eriba",
                 "Upaqa-Šamaš" : "Upaq-Šamaš",
                  }
fields = ["ancient_author"]
df_cat[fields] = df_cat[fields].replace(search_replace, regex=True)

Now merge the edges Dataframe with the catalog information.

In [12]:
df_edges_cat = pd.merge(df_edges, df_cat, on="id_text").fillna("")
with open("csv/edges_no_sender.csv", mode="w", encoding="utf-8") as w:
    df_edges_cat.to_csv(w, index=False)
df_edges_cat

,id_text,source,target,Type,ancient_author
0,P334887,Nabu-hamatua,Kuškaya,undirected,Kuškaya
1,P334887,Nabu-hamatua,Aššur-šarru-uṣur,undirected,Kuškaya
2,P334887,Kuškaya,Aššur-šarru-uṣur,undirected,Kuškaya
3,P334150,Nabu-uṣalla,Mar-Issar,undirected,Nabu-uṣalla
4,P334674,Šulmu-beli-lašme,Mannu-ki-ahhe,undirected,Šulmu-beli-lašme
...,...,...,...,...,...
1264,P334284,Adda-hati,Ašapi,undirected,Bel-liqbi
1265,P334284,Ammi-leti,Amiru,undirected,Bel-liqbi
1266,P334284,Ammi-leti,Ašapi,undirected,Bel-liqbi
1267,P334284,Amiru,Ašapi,undirected,Bel-liqbi
1268,P334715,Bel-liqbi,Aššur-dalal,undirected,Bel-liqbi

# 3. Add Sender and Recipient
Neo-Assyrian letters to or from the king often do not contain the name of sender or recipient, because the king's name is never explicit. We can pull this information from the dataframe `df_cat` that we have created above.

In [13]:
df_cat

           ancient_author  id_text
P224395         Adda-hati  P224395
P224403         Sargon II  P224403
P224417         Adda-hati  P224417
P224431          Bel-duri  P224431
P224433    Sin-ahhe-eriba  P224433
...                   ...      ...
P336775                    P336775
P336776                    P336776
P428978  Nabu-belu-kaʾʾin  P428978
X150289      Aššur-reṣiwa  X150289
X150335                    X150335

[956 rows x 2 columns]

Note that `ancient_author` sometimes has more than one name, separated by a comma. The code tests for the presence of a comma in the field `ancient author`. If a comma appears, the field is split at the comma, resulting in a list of authors (2 or more). For each author a separate row is created that copies the original row, but replaces the field `ancient_author` by the author. The same is done for recipients.

### Note:
It is necessary to use two separate `if/else` loops in order to take care of the possibility of multiple senders *and* multiple recipients.

In [14]:
df_cat['recipient'] = "Sargon"
df_cat = df_cat[['id_text', 'ancient_author', 'recipient']]

In [15]:
cat = df_cat.values.tolist()
cat_edges = []
for item in cat:
    if ',' in item[1]:
        senders = item[1].split(',')
        for sender in senders:
            edge = item.copy()
            edge[1] = sender.strip()
            cat_edges.append(edge)
    else:
        cat_edges.append(item)
cat_edges2 = []
for item in cat_edges:
    if ',' in item[2]:
        recipients = item[2].split(',')
        for recipient in recipients:
            edge = item.copy()
            edge[2] = recipient.strip()
            cat_edges2.append(edge)
    else:
        cat_edges2.append(item)

In [16]:
df_cat2 = pd.DataFrame(cat_edges2, columns = df_cat.columns)
df_cat2

     id_text    ancient_author recipient
0    P224395         Adda-hati    Sargon
1    P224403         Sargon II    Sargon
2    P224417         Adda-hati    Sargon
3    P224431          Bel-duri    Sargon
4    P224433    Sin-ahhe-eriba    Sargon
..       ...               ...       ...
955  P336775                      Sargon
956  P336776                      Sargon
957  P428978  Nabu-belu-kaʾʾin    Sargon
958  X150289      Aššur-reṣiwa    Sargon
959  X150335                      Sargon

[960 rows x 3 columns]

Copy the columns `ancient_author` and `recipient` into `source` and `target`, respectively, and add `Type` to make the dataframe compatible with `df_edge_cat` created above. For this set of rows all the edges are Directed because they connect sender and recipient.

In [17]:
df_cat2["source"] = df_cat2["ancient_author"].copy()
df_cat2["target"] = df_cat2["recipient"].copy()
df_cat2["Type"] = "directed"

Combine the two Dataframes; change all missing values into the empty string.

In [18]:
df_combined = df_edges_cat.append(df_cat2).reset_index(drop=True)
df_combined = df_combined.fillna("")
df_combined

,id_text,source,target,Type,ancient_author,recipient
0,P334887,Nabu-hamatua,Kuškaya,undirected,Kuškaya,
1,P334887,Nabu-hamatua,Aššur-šarru-uṣur,undirected,Kuškaya,
2,P334887,Kuškaya,Aššur-šarru-uṣur,undirected,Kuškaya,
3,P334150,Nabu-uṣalla,Mar-Issar,undirected,Nabu-uṣalla,
4,P334674,Šulmu-beli-lašme,Mannu-ki-ahhe,undirected,Šulmu-beli-lašme,
...,...,...,...,...,...,...
2224,P336775,,Sargon,directed,,Sargon
2225,P336776,,Sargon,directed,,Sargon
2226,P428978,Nabu-belu-kaʾʾin,Sargon,directed,Nabu-belu-kaʾʾin,Sargon
2227,X150289,Aššur-reṣiwa,Sargon,directed,Aššur-reṣiwa,Sargon
2228,X150335,,Sargon,directed,,Sargon

Write to a `CSV` file to be imported as an edge list in [Gephi](https://gephi.org/).

In [19]:
with open("csv/edges.csv", mode="w", encoding="utf-8") as w:
    df_combined.to_csv(w, index=False)

# 4 Creat Node List
[Gephi](https://gephi.org/) will automatically create a node list from the edge list. The advantage of explicitly adding a node list is that we can add one or more attributes to the nodes.

First create the node list from the columns `source` and `target` in the `df_combined` dataframe.

In [20]:
nodes = list(set(list(df_combined["source"])) | set(list(df_combined["target"])))
df_nodes = pd.DataFrame(nodes, columns=["label"])

The file `sargoneponymns.csv` is a simple, one-dimensional list of names that match the names as they appear in the data set. Read the list of eponymns (or any other type of attribute) and add a column `eponym`. The value of each row in that column is set to be `True`.

In [21]:
with open("csv/sargoneponyms.csv", mode="r", encoding="utf-8") as f:
    eponyms = pd.read_csv(f)
eponyms["eponym"] = True

Merge the `df_nodes` dataframe with the `eponymns` dataframe. The `outer` method keeps all rows of both dataframes and joins them where they match (in this case on `label`). The default behavior of `merge()` is to keep only those rows that match. Where there is no match (not an eponym) the `eponym` column will have `NaN` ("Not a Number", or missing value). These missing values are set to `False`.

Copy the column `label` into a column `Id`. The `Id` column is used by Gephi to identify nodes; the `label` column is used to display labels in a graph.

In [22]:
df = df_nodes.merge(eponyms, on = "label", how="outer")
df["eponym"] = df["eponym"].fillna(False)
df["Id"] = df["label"].copy()
df

                    label  eponym                    Id
0                           False
1                 Radmanu   False               Radmanu
2               Ammi-raʾi   False             Ammi-raʾi
3             Kiṣir-Aššur   False           Kiṣir-Aššur
4                    Nani   False                  Nani
..                    ...     ...                   ...
464              Ahhešaya   False              Ahhešaya
465                Naṣibi   False                Naṣibi
466     Aššur-belu-daʾʾin   False     Aššur-belu-daʾʾin
467  Nabu-zer-ketti-lešir   False  Nabu-zer-ketti-lešir
468         Nabu-mušallim   False         Nabu-mušallim

[469 rows x 3 columns]

Save the nodes list as a CSV.

In [23]:
with open("csv/nodes.csv", mode="w", encoding="utf-8") as w:
    df.to_csv(w, index=False)

# 5 Import in [Gephi](https://gephi.org/)
First, import the node list (go to Data Laboratory and click on `import spreadsheet`). After importing, copy the `Id` column to the `Label` column. Now import the edge list. The order of import is important. When you import an edge list, [Gephi](https://gephi.org/) will add all non-existent nodes to the node list.